<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table class="table">
      <tbody>
        <tr>
            <td>Каркас</td>
            <td>{{ product.frame }}</td>
        </tr>
        <tr>
            <td>Механизм</td>
            <td>{{ product.mechanism}}</td>
        </tr>
        <tr>
            <td>Материал ножек</td>
            <td>{{ product.material_of_the_legs }}</td>
        </tr>
        <tr>
            <td>Наполнение</td>
            <td>{{ product.filling }} </td>
        </tr>
        <tr>
            <td>Бельевой ящик</td>
            <td>{{ product.box }} </td>
            </tr>
        <tr>
            <td>Съёмный чехол</td>
            <td>{{ product.case }} </td>
        </tr>
        <tr>
            <td>Декоративные подушки</td>
            <td>{{ product.pillows }} </td>
        </tr>

      </tbody>
    </table>
</body>
</html>
